img {
    height: 56px;
}

.btn-scale-color {
  background-color: #ff69b4;
  border: 1px solid #ff69b4;
  transition: 0.4s;
}

.btn-scale-color:hover {
  background-color: #ff69b4;
  border: 1px solid #ff69b4;
  transform: scale(1.3);
}